extends _layout

block content
  form(action="/gallery/#{id}" name="newphoto" method="POST")
    .editImg
      img(src="#{link}")
    br
    .fancy-input
      input(value='#{author}' name='author')
      br
      input(value='#{link}' name='url')
      br
      input(value='#{caption}' name='description')
      br
      input(type="hidden" name="_method" value="PUT")
    button(class="button tiny") Edit Photo

    form(action="/gallery/#{id}" name="deletephoto" method="POST")
      input(type="hidden" name="_method" value="DELETE")
      button(class="button tiny") Delete Photo