extends _layout

block content
  .editImg
    img(src="#{link}")
  #bigassbox
    form(action="/gallery/#{id}" name="newphoto" method="POST" class="editform")
      .fancy-input
        label Author
        input(value='#{author}' name='author')

        label URL
        input(value='#{link}' name='url')

        label Description
        input(value='#{caption}' name='description')

        input(type="hidden" name="_method" value="PUT")
        button(class="button tiny") Edit Photo

    form(action="/gallery/#{id}" name="deletephoto" method="POST" class="deletebutton")
      input(type="hidden" name="_method" value="DELETE")
      button(class="button tiny") Delete Photo