extends _layout


mixin (id, link, desc)

block content
  .topimage
    a(href="/gallery/#{topImg.id}")
      .imgcrop(style="background-image:url(#{topImg.link})")
    p #{topImg.description}
  .clear
  ul(class="small-block-grid-1 medium-block-grid-2 large-block-grid-3")
    each image, index in images
      li
        a(href="/gallery/#{image.id}")
          img(src="#{image.link}")
        p #{image.description}







  //- each image, index in images
  //-   if image.id === 1
  //-     .topimage
  //-       img(src="#{image.link}")

  //-     .clear
  //-   else
  //-     .imgBox
  //-       a(href="/gallery/#{image.id}")
  //-         img(src="#{image.link}")
  //-       p #{image.description}

//- each number, index in array
//-   if (index % 2 === 0)
//-     li (class="even")= number
//-   else
//-     li (class="odd")= number
//-   if (index % 3 === 0)
//-     br