extends _layout

block content
  .imgWrapper
    .singleImg
      img(src="#{single.link}")
    .imgCaption
      p= single.description

  .imgColumn
    each image, index in sideImages
      .imgBox
        a(href="/gallery/#{image.id}")
          img(src="#{image.link}")
        p #{image.description}


